# secrets
**/.env
#**/.env.*
**/*token*
**/*secret*

# runtime data/cache/logs
**/data/
**/cache/
**/.cache/
**/tmp/
**/logs/
**/*.log

# sqlite/db
**/*.db
**/*.db-shm
**/*.db-wal

# python cache / venv
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/venv/
**/*.pyc

# node
**/node_modules/

# backups
**/*.bak
**/*.old
**/*.swp

# build outputs / large binaries (按需保留或删除)
**/*.app
**/*.exe
**/*.dll
**/*.so

# 其他自定义
OneBotFilter/config.yaml
OneBotFilter/help.yaml
OneBotFilter/config/
ZeroBot-Plugin-master/config.json
ZeroBot-Plugin-master/go.mod
ZeroBot-Plugin-master/config1.json
haruki/
**/.gitignore
sync.ps1
sync.cmd
haruki-tool/Haruki-Sekai-Asset-Updater
haruki-tool/Haruki-Toolbox-Backend
haruki-tool/HarukiBot-Docs
haruki-tool/Haruki-Sekai-API/jp
haruki-tool/Haruki-Sekai-API/cn
lunabot-latest
lunabot/config/
scripts/
catcher/Catcher-android-arm64
catcher/Catcher-android-arm64-test
catcher/config-android.yaml
# local test files
OneBotFilter/src/*_test.go
upload/debug
upload/tools
upload/config.yaml
OneBotFilter/help.png
harukineo/
